*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 16px;
}

/* desktop styling */

@media only screen and (min-width: 481px){
    

/*navbar styling*/

nav{
    background-color: white;
    height: 4rem;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    padding: 2rem 1.5rem;
    z-index: 1;
    border-bottom: 1px solid hsl(0,0%,20%);
}
nav a{  
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    height: 100%;
    width: 100%;
    text-decoration: none;   
 }
 nav a span{
     font-size: 1.5rem;
     color: gray;
 }
 nav a span strong{
     font-size: 1.5rem;
     color: hsl(0,0%,20%);
 }
#link-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    }
.flex-container-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    }
.flex-item-nav{
    list-style-type: none;
    margin: 1rem;
    }
.flex-item-nav a{
    text-decoration: none;
    color: hsl(0,0%,20%);
    }

/*banner section styling*/

#banner-section{
    position: relative;
    top: 4rem;
    left: 0;
    background-color: lightgrey;
    height: auto;
    width: 100%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: row;
}
#img-container{
    height: auto;
    width: 60%;
}
#banner-section img{  
    height: auto;
    width: 100%;
    margin-right:1.5rem;
}
#banner-text-container{
    height: auto;
    width: 30%;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner-section h1{
    height:auto; 
    width: 100%;
    font-size: 3rem;
    color: hsl(0,0%,20%);
    text-align: left;
    font-weight: bolder;
    margin-bottom: 7.5%;
}
#banner-section h3{
    height: auto;
    width: 100%;
    font-size: 2rem;
    color: hsl(0,0%,20%);
    text-align: left;
    margin-bottom: 7.5% 
}
#start-here{
    height:3rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: hsl(0,0%,20%);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

/*practice section styling*/

.read-more {
color: hsl(200, 100%, 55%);
text-decoration: none;
}
#practice-section{
    position: relative;
    top: 4rem;
    left: 0;
    height: auto;
    width: 100%;
    padding: 2rem 0 2rem 1.5rem;
    display: flex;
    background-color: hsl(0,0%,95%);
}
#practice-left-side-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}
#practice-left-side-container img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
}
#practice-left-side-container h1{
    width: 100%;
    height: fit-content;
    font-size: 2rem;
    color: hsl(0,0%,20%);
}
#practice-left-side-container p{
    width: 100%;
    height: fit-content;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#practice-left-side-container h4{
    width: 100%;
    height: fit-content;
    font-weight: normal;
    font-style: italic;
}
#practice-right-side-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40%;
    border-left: 1px solid hsl(0,0%,75%);
}
.tile{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
}
#tile-orientation{
    border-bottom: 3px solid hsl(0,0%,75%);
    background-color: white;
}
#tile-campus{
    background-color: hsl(0, 0%, 100%);
}
#tile-lecture{
    background-color: lightgray;
}
.tile img{
    width: 35%;
    height: auto;
    margin-right: 1rem;
}
.tile-text-container{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: hsl(0,0%,20%)
}
.tile-text-container h2{
    height: fit-content;
    width: 100%;
    font-size: 1.25rem;
}
.tile-text-container h3{
    height: fit-content;
    width: 100%;
    font-size: 0.85rem;
    font-weight: normal;
}
.tile-text-container div{
    height: fit-content;
    width: 100%;
}
.tile-text-container h3 a{
    text-decoration: none;
    color: hsl(0,0%,20%)
}

/* learning section styling */

#learning-section{
    position: relative;
    top: 4rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:hsl(0,0%,90%);
}
#learning-section h1{
    font-weight: bolder;
    color: hsl(0,0%,20%);
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    font-size: 2rem;
}
#course-grid-container{
    width: 100%;
    height: auto;
    padding: 2rem 4.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.course-tile{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 6px -6px #777;
}
.course-tile img{
    width: 100%;
    height: auto;
}
.field{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: hsl(0,0%,25%);
}
.courses{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.75rem;
    font-weight: lighter;
    color: hsl(0,0%,50%);
}
.names{
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.75rem;
    font-weight: lighter;
    color: hsl(0,0%,50%);
}
 /* thesis section styling */

 #thesis-section{
    position: relative;
    top: 4rem;
    height: auto;
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 2rem;
    background-color: hsl(0,0%,95%);
 }
 #thesis-h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: fit-content;
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: hsl(0,0%,20%);
 }
 #flex-container{
    height: auto;
    width: 100%;
    display: flex;
    flex: row;
 }
 #left-side-flex-container{
    height:fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
 }
#left-side-flex-container video{
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}
#left-side-flex-container h2{
    height: fit-content;
    width: 100%;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    color: hsl(0,0%,25%);
}
#left-side-flex-container p{
    font-size: 1rem;
    color: hsl(0,0%,25%);
    font-weight: lighter;
}
 #right-side-grid-container{
    height: auto;
    width: 40%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'fisma'
                          'now'
                            '.';
 }
 #fisma-tile{
    background-color: hsl(0,0%,80%);
    grid-area: fisma;
 }
 #now-tile{
    grid-area: now;
 }
.thesis-grid-tile{
    height: auto;
    width: 100%;
    display: flex;
    padding: 1rem;
    border-left: 1px solid hsl(0,0%,80%);
}
.thesis-grid-tile img{
    height: auto;
    width: 28%;
    margin-right:1rem;
 }
.grid-tile-text-container{
    height: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .grid-tile-text-container h2{
    width: 100%;
    height: fit-content;
    font-size: 1.25rem;
    color: hsl(0,0%,25%);
}
.grid-tile-text-container p{
    width: 100%;
    height: fit-content;
    font-size: 1rem;
    color: hsl(0,0%,25%);
    font-weight: lighter;
}

/* footer styling */

footer {
    height: 4rem;
    width: 100%;
    position: relative;
    top: 4rem;
    border-top: 1px solid hsl(0,0%,80%);
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 0.75rem;
    font-weight: lighter;
    color: hsl(0,0%,50%);
}
footer #ca{
    text-align: left;
}
footer #terms{
    float: right;
    padding-right: 1rem;
}
footer #privacy{
    float: right;
}
}

/*end desktop styling*/

/*start mobile styling*/

@media only screen and (max-width: 480px){
    
.desktop{
    display: none;
}
.text-xlarge{
    color: hsl(0,0%,20%);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.text-large{
    color: hsl(0,0%,20%);
    font-size: 1.25rem;
}
.text-medium{
    color: hsl(0,0%,20%);
    font-weight: lighter;
    margin-top: 0.5rem;
}
.text-small{
    color: hsl(0,0%,20%);
}
.blue{
    color: hsl(200, 100%, 40%);
    font-size: small;
}
.flex-container-column{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4rem;
}
.image{
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 10px 6px -6px #777;
}
/*navbar styling mobile*/

nav{
    height: 64px;
    width: 100%;
    background-color: hsl(0,0%,100%);
    display: flex;
    align-content: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid hsl(0,0%,90%);
}

/*learn section styling mobile*/

#learn-container-mobile{
    background-color: hsl(0,0%,85%);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
#mobile-start-button{
    height: fit-content;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    background-color: hsl(0,0%,50%);
    color: hsl(0,0%,95%);
    text-align: center;
}

/*orientation section styling mobile*/

#orientation-container-mobile{
    background-color: hsl(0,0%,95%);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/*start section styling mobile*/

#start-container-mobile{
    border-top: 1px solid hsl(0,0%,50%);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
#start-header{
    text-align: center;
}
.learn-box{
    width: 100%;
    padding: 1rem;
    background-color: hsla(0,0%,60%, 30%);
    font-weight: 500;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

    }